body {
	background: url(springbg.jpg);
	background-size: 100%;
	background-repeat: repeat-y;
}
#container {
	width: 50em;
	margin: 1em auto;
	border: outset thick darkgreen;
	background-color: rgba(255,255,255,.9);
	padding: 1em;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}
h1, h2, h3 {
	color: darkgreen;
	text-align: center;
	font-family: "Comic Sans MS";
}


#newsSignup {
	display: none;
}
#signuplink:focus + #newsSignup,
#newsSignup:focus-within {
	display: block;
	animation: fadeIn 0.5s ease-in-out;
}
#signuplink:focus span#openclose::before {
	content: "-";
}


#rose {
	position: absolute;
	right: 100px;
	top: 20px;
	opacity: 1;
	animation: slideIn 2s ease-in-out;
}


#slogan {
	display: inline-block;
}
#slogan:hover::after {
	content: 'Hand Picked Just for You';
	animation: fadeInOut 2s ease-in-out;
}
#slogan:hover span {
	display: none;
}


#slideIn {
	from {
		right: -100px;
		opacity: 0;
	}
	to {
		right: 100px;
		opacity: 1;
	}
}

 #fadeInOut {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 1; }
}